<% if notice.present? %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
  </div>
<% end %>

<h1>User Detail</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>username</th>
    <th>book_title</th>
    <th>borrowed_quantity</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% UsersBook.where(user_id: @user.id).includes(:book).each do |user_book| %>
    <tr>
      <td><%= @user.username %></td>
      <td><%= user_book.book.title %></td>
      <td><%= user_book.quantity %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Users', users_path, class: 'btn btn-secondary'  %>
<%= link_to 'Books', books_path, class: 'btn btn-secondary'  %>
<%= link_to 'Transactions', transactions_path, class: 'btn btn-secondary'  %>